@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <video width="640" height="480" controls>
        <source src="/api/video" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
